.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
	background: var(--color);
	font-size:100%;
	text-align:center;
	border-radius: 15px;
    border: 1px solid #000000;
	word-break: keep-all;
}

.flip-card-back {
	background: var(--color);
	font-size:100%;
	text-align:center;
	border-radius: 15px;
    border: 1px solid #000000;
	word-break: keep-all;
	transform: rotateY(180deg);
}

* {
   box-sizing: border-box !important;  /*Needed for the flip cards to work*/
}

.column {
   float: left;
   width: 33.33%;
   padding: 4px;
}

.row::after {
   content: "";
   clear: both;
   display: table;
}

 /*Collapsible Button*/
.collapsible {
	display: block;
	color: white;
	padding: 8px 16px;
	text-decoration: none;
	font-size: 125%;
	transition: font-size 2s;
	background-color: var(--backColor);
}

/* Content in Collapsible */
.content {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.active, .collapsible:hover {
	background-color: #FFFAF0;
	color: black;
	font-size: 128%;
}

/* Animations */
.ani2023 {
	width: 75px;
	height: 50px;
	color: white;
	border-radius: 5px;
	border: 5px solid var(--imgBackColor);
	background-color: red;
	margin: 50px;
	font-size: 175%;
	filter: brightness(75%);
	transition: var(--ani2023Trans) ;
}

.ani2023:hover {
	width: 175px;
	height: 75px;
	font-weight:bold;
	font-size:400%;
	transform: rotate(360deg);
	filter: brightness(100%);
}

.ani2022 {
	width: 75px;
	height: 50px;
	color: white;
	border-radius: 5px;
	border: 5px solid var(--imgBackColor);
	background-color: orange;
	margin: 50px;
	font-size: 175%;
	filter: brightness(75%);
	transition: var(--ani2023Trans) ;
}

.ani2022:hover {
	width: 175px;
	height: 75px;
	font-weight:bold;
	font-size:400%;
	transform: rotate(-360deg);
	filter: brightness(100%);
}

/* Used to postion images to the right of the screen */
#image {
	width: 25%;
	margin-left: 20px;
	float: right;
	padding: 4px;
	background-color: var(--backColor);
}

/* Used for links outside of the Nav*/
#otherSite {
	color:white;
	background-color:var(--backColor);
	padding: 8px 16px;
	text-decoration: none;
	font-size: 100%;
	border: 5px;
	border-color: var(--bigTextColor);
	border-radius: 5px;
	transition: color 2s, background-color 2s;
}

#otherSite:hover {
	color: black;
	padding: 8px 16px;
	text-decoration: none;
	font-size: 100%;
	background-color:white;
	transition: color 2s, background-color 2s;
}

otherSite:active {
	background-color: Grey;
}

#settingLabel {
	color:white;
	text-align:center;
}

#colorSelect {
	margin:0px 65px;
}
